.settings_page_cookie-law-consent-settings {
  code {
    display: inline-block;
    padding: 20px;
    line-height: 1.6;
    overflow-x: auto;
    white-space: pre;
    color: #000;
    background-color: #ddd;
    margin: 10px 0;
    font-size: smaller;
  }
}