.cookie-law-category {

	&__tab {
		display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    cursor: pointer;
    background-color: #EFEFEF;
		transition: background-color 0.2s ease-out;
	}

	&__title {
		// @include reset-button();
		background-color: transparent;
		border: 0;
		border-radius: 0;
		outline: 0;
		padding: 0;
		cursor: pointer;

		position: relative;
    display: flex;
    align-items: center;

		@extend %cookie-law--heading;
		margin-bottom: 0;

		&::before {
			content: " ";
			z-index: 1;
			width: 7px;
    	height: 7px;
			margin-right: 10px;
			margin-bottom: 3px;
			border-right: 1px solid #505050;
    	border-bottom: 1px solid #505050;

			transform: rotate(-45deg);
			transition: transform 0.2s ease-in-out, border-color .2s ease-out;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 5px;
			right: 0;
			bottom: 0;
			z-index: 0;
			display: block;
			margin: -12px -20px;
		}

		span {
			z-index: 1;
			border-bottom: 1px solid transparent;
			padding-top: 1px;

			background-image: linear-gradient(#000000, #000000);
			background-position: left bottom;
			background-repeat: no-repeat;
			background-size: 100% 0%;
			transition: border 0.2s ease-out, background-size 0.2s ease-out;
		}
	}

	&__caption {
    font-size: 14px;
	}

	&__switch {
    position: relative;
		display: flex;
		font-size: 14px;
		z-index: 10;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			display: block;
			margin: -12px -15px;
			background-color: #EFEFEF;
		}
	}

	&__checkbox {
		position: absolute;
		z-index: -1;
	}

	&__label {
		position: relative;
		z-index: 1;
		height: 20px;
		width: 38px;
		order: 2;
    cursor: pointer;

		border-radius: 34px;
		font-size: 0;

		box-shadow: none;
		background-color: #858585;
		transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;

		&::before {
			content: "";
			position: absolute;
			top: calc(50% - 7px);
			left: 3px;
			display: block;
			height: 14px;
			width: 14px;
			border-radius: 50%;
			background-color: transparent;
			border: 2px solid #ffffff;
			transition: background-color 0.2s ease-out, transform 0.2s ease-out;
		}
	}

	&__status {
		position: relative;
		z-index: 1;
		font-size: 14px;
		order: 1;
		margin-right: 10px;
	}

	&__content {
		background: #ffffff;
		width: 100%;
		padding: 10px 20px 5px 20px;
	}

	&__desc {
		@extend %cookie-law--p-small;
	}


	/**
	 * STATES
	 */
	&.is-expanded {
		.cookie-law-category__title::before {
			transform: rotate(45deg);
		}
	}

	&__tab:hover .cookie-law-category__title::before {
		border-right-color: #000000;
		border-bottom-color: #000000;
	}

	&__title {
		&::-moz-focus-inner {
			border: 0;
		}

		&:focus::before {
			border-right-color: #000000;
			border-bottom-color: #000000;
		}
	}

	&__checkbox {
		&:checked + label {
			background-color: #00A54B;

			&::before {
				transform: translateX(18px);
				background-color: #ffffff;
			}
		}

		&:focus + label {
			box-shadow: inset #000000 0px 0px 1px 1px, #000000 0px 0px 1px 1px;
		}
	}

	&__content[aria-hidden="true"] {
		display: none;
	}
}
