@import '../_common/variables';
@import '../tabulation/tabulation';

.category {
	@extend %tab-panel;

	h3 {
		margin-bottom: 0;
	}

	td {
		width: auto;
	}

	input[type="text"],
	textarea {
		width: 90%;
	}

	textarea {
		min-height: 100px;
	}
}
