.cookie-law-banner {
	@include fluid(width, (320px: 288px, $fluid-min: 343px, $fluid-max: 376px));
	@include fluid(padding, (320px: 16px, $fluid-min: 20px, $fluid-max: 28px));

	position: fixed;
	z-index: 99999;

	font-family: $font-primary;
	color: $color-neutral;
	background-color: $color-neutral--200;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19);

	&__title {
		@extend %cookie-law--heading;
	}

	&__message {
		@extend %cookie-law--p-small;
		margin-bottom: 20px;
	}

	&__personalize {
		@extend %cookie-law--link;

		font-size: 16px;
		line-height: 18px;
		font-weight: $font-primary-bold;
		letter-spacing: 0;
	}

	&__accept {
		@extend %cookie-law--button;

		display: block;
		width: 100%;
		padding: 21px 20px 20px;
		margin: 20px 0 0;
	}

	/**
	 * Positions modifiers
	 */
	&--center {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&--bottom-right {
		@include fluid(right bottom, ($fluid-min: 16px, $fluid-max: 20px));
	}

	&--bottom-left {
		@include fluid(left bottom, ($fluid-min: 16px, $fluid-max: 20px));
	}

	&--top-left {
		@include fluid(left top, ($fluid-min: 16px, $fluid-max: 20px));
	}

	&--top-right {
		@include fluid(right top, ($fluid-min: 16px, $fluid-max: 20px));
	}

	/**
	 * STATES
	 */
	&[aria-hidden="true"] {
		display: none;
	}
}

