$font-primary: 'TT Norms', sans-serif;
$font-secondary: 'Noe text', serif;

$font-primary-regular: 400;
$font-primary-bold: 700;
$font-secondary-regular: 400;


/**
 * Neutral color variables.
 */
$color-neutral: #000000;
$color-neutral--800: #222;
$color-neutral--700: #505050;
$color-neutral--600: #707070;
$color-neutral--500: #858585;
$color-neutral--400: #CBCBCB;
$color-neutral--300: #DEDEDE;
$color-neutral--200: #EFEFEF;
$color-neutral--100: #FFFFFF;

/**
 * Accent color variables.
 */
$color-accent: #FFFE54;
$color-accent--dark: #FFED3B;

/**
 * Status color variables.
 */
$color-status--success: #00A54B;

/**
 * TRANSITIONS
 *
 * Define standard transition timings.
 */
$transition-fast: 0.2s;
$transition-mid: 0.4s;
$transition-slow: 0.8s;

/**
 * FLUID SIZING BREAKPOINTS
 *
 * This defines at which size the fluid-sizing mechanism
 * should start, and end.
 */
$fluid-min: 375px;
$fluid-max: 1680px;
$fluid-huge: 2560px;
$small-breakpoint: 600px;
$tablet-breakpoint: 768px;
$medium-breakpoint: 900px;
$laptop-breakpoint: 1024px;
$big-laptop-breakpoint: 1200px;
$desktop-breakpoint: 1440px;
$big-desktop-breakpoint: 1920px;
$huge-breakpoint: 2560px;
